---
interface Props {
  variant?: "primary" | "secondary";
}

const { variant = "primary" } = Astro.props;
---

<div
  class:list={[
    "inline-flex items-center border px-2.5 py-1 align-middle text-xs font-medium text-nowrap transition-colors duration-150 ease-out",
    {
      "border-border bg-secondary text-secondary-foreground":
        variant === "primary",

      "border-border bg-transparent text-muted-foreground":
        variant === "secondary",
    },
  ]}
  style="border-radius: 8px"
>
  <slot />
</div>
