---
interface Props {
  href: string;
  ariaLabel: string;
}

const { href, ariaLabel } = Astro.props;
---

<a
  class="plain-button gap-2 whitespace-nowrap"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={ariaLabel}
>
  <slot />
</a>
